#grad1 {
    height: 900px;
    background-color: red; 
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); 
    width: 1543px;
}
body {
    position: fixed;
    
}
.foto {
    position: absolute;
    margin-left: 650px;
    margin-top: 100px;
    
}
.text {
    color: black;
    position: absolute;
    margin-top: 410px;
    margin-left: 500px;
}
@media screen and (max-width: 400px) {

    #grad1 {
        width: 400px;
    }
    .text {
        position: absolute;
        color: black;
        margin-top: 410px;
        margin-left: 10px;
        font-size: 12px;
    }
    .foto {
        margin-top: 100px;
        margin-left: 80px;

    }
    
}
